<head>
  <style>
  .header{
   background-color: #f7f9f9
  }

  .footer-bar{
    background-color: #f7f9f9
    width: 100%;
    color: #F50670;
    text-align: center;
    padding: 30px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  body{
    background-color: #f7f9f9
  }
  </style>
</head>


<header class="c-top-bar" onclick="displaynone()">
  <div class="header-container">
      <%= link_to "kokuchii", posts_path, :class => "header-container-header-logo" %>
      <div class="header-container-nav">
      <div class="header-container-search">
        <div id="form4">
        <%= form_tag(controller:"posts",action:"index") do %>
        <label class="search" for="inpt_search">
         <%= text_field_tag :search, "", placeholder: "フリーワードを入力" %>
         <button id="sbtn4" id="s" type="submit"></button>
        <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <a href="<%=new_post_path%>" class="button-topostnew"><i class="fas fa-pen"></i></a>
      <div class="header-user-conversation">
        <%= link_to rooms_index_path(current_user) do %>
        <i class="far fa-comment-dots fa-lg"></i>
        <% end %>
      </div>
      <div class="header-user-image">
       <%= image_tag @user.image.to_s, :class => "header-image" %>
      </div>
      <% elsif company_signed_in? %>
      <div class="header-user-conversation">
        <%= link_to rooms_index_path(current_company) do %>
        <i class="far fa-comment-dots fa-lg"></i>
        <% end %>
      </div>
      <div class="header-user-image">
      <p class="header-image"> <i class="fa fa-user-o" aria-hidden="true" style="margin-left: 0;"></i></p>
      </div>
      <% else %>
      <% end %>
     </div>
  </div>
</header>

<div class="box-conversation">

</div>

<% if user_signed_in? %>
<div id="header-nav-slide">
  <div class="header-nav-slide-item">
  <%= link_to "ログアウト", destroy_user_session_path,method: :delete, :class => "header-nav-slide-link" %>
  <%= link_to "マイページ", user_path(current_user.id), :class => "header-nav-slide-link" %>
  <p class="close-nav">閉じる</p>
  </div>
</div>
<% else %>
<div id="header-nav-slide">
  <div class="header-nav-slide-item">
  <%= link_to "ログアウト", destroy_company_session_path,method: :delete, :class => "header-nav-slide-link" %>
  <%= link_to "マイページ", company_path(current_company.id), :class => "header-nav-slide-link" %>
  <p class="close-nav">閉じる</p>
  </div>
</div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="conversation-container">
         <% if user_signed_in? %>
            <div class="chat-field" style="height:600px;overflow:auto;">
            <% @messages.each do |m| %>
            <!-- メッセージがUserによるものだったら -->
              <% if m.is_user %>
              <!-- メッセージを右に寄せる -->
                 <div class="chat-box-right">
                   <div class="chat-area-right">
                     <p class="chat-content-right"> <%= m.content %></p>
                   </div>
                 </div>
            <!-- メッセージがShopによるものだったら -->
            <% else %>
              <!-- メッセージを左に寄せる -->
                 <div class="chat-box-left">
                   <div class="chat-face">
                     <i class="fa fa-user-o" aria-hidden="true"></i>
                   </div>
                   <div class="chat-area-left">
                    <p class="chat-content-left"><%= m.content %></p>
                   </div>
                 </div>
              <% end %>
            <% end %>
            </div>
         <% elsif company_signed_in?%>
            <div class="chat-field" style="height:600px;overflow:auto;">
            <% @messages.each do |m| %>
            <!-- メッセージがUserによるものだったら -->
              <% if m.is_user %>
              <!-- メッセージを左に寄せる -->
                 <div class="chat-box-left">
                   <div class="chat-face">
                       <%= link_to user_path(id: @room.user_id) do %>
                       <%= image_tag @room.user.image.to_s, :class => "card-user-image" %>
                       <% end %>
                   </div>
                   <div class="chat-area-left">
                       <p class="chat-content-left"><%= m.content %></p>
                   </div>
                 </div>
            <!-- メッセージがShopによるものだったら -->
              <% else %>
              <!-- メッセージを右に寄せる -->
                 <div class="chat-box-right">
                    <div class="chat-area-right">
                       <p class="chat-content-right"><%= m.content %></p>
                    </div>
                  </div>
              <% end %>
            <% end %>
            </div>
         <% end %>

         <div class="form-conversation">
            <%= form_for [@room, @message] do |f| %>
            <%= f.text_field :content, :class => "form-content" %>
            <%= f.submit "送信", :class => "form-submit" %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="col-md-3">
    </div>
  </div>
</div>



    <script type="text/javascript">
      $(function(){
        $("#header-nav-slide").css("display","none");
        $('.header-image').click(function(){
          $("#header-nav-slide").css("display","block");
        });
        $(".close-nav").click(function(){
         $("#header-nav-slide").slideUp(250);
       });
      });
    </script>
