
<header class="c-top-bar" onclick="displaynone()">
  <div class="header-container">
      <%= link_to "kokuchii", posts_path, :class => "header-container-header-logo" %>
      <div class="header-container-nav">
      <div class="header-container-search">
        <div id="form4">
        <%= form_tag(controller:"posts",action:"index") do %>
        <label class="search" for="inpt_search">
         <%= text_field_tag :search, "", placeholder: "フリーワードを入力" %>
         <button id="sbtn4" id="s" type="submit"></button>
        <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <a href="<%=new_post_path%>" class="button-topostnew"><i class="fas fa-pen"></i></a>
      <div class="header-user-conversation">
        <%= link_to rooms_index_path(current_user) do %>
        <i class="far fa-comment-dots fa-lg"></i>
        <% end %>
      </div>
      <div class="header-user-image">
       <%= image_tag @user.image.to_s, :class => "header-image" %>
      </div>
      <% elsif company_signed_in? %>
      <div class="header-user-conversation">
        <%= link_to rooms_index_path(current_company) do %>
        <i class="far fa-comment-dots fa-lg"></i>
        <% end %>
      </div>
      <div class="header-user-image">
      <p class="header-image"> <i class="fa fa-user-o" aria-hidden="true" style="margin-left: 0;"></i></p>
      </div>
      <% else %>
      <% end %>
     </div>
  </div>
</header>



<% if user_signed_in? %>
<div id="header-nav-slide">
  <div class="header-nav-slide-item">
  <%= link_to "ログアウト", destroy_user_session_path,method: :delete, :class => "header-nav-slide-link" %>
  <%= link_to "マイページ", user_path(current_user.id), :class => "header-nav-slide-link" %>
  <p class="close-nav">閉じる</p>
  </div>
</div>
<% else %>
<div id="header-nav-slide">
  <div class="header-nav-slide-item">
  <%= link_to "ログアウト", destroy_company_session_path,method: :delete, :class => "header-nav-slide-link" %>
  <%= link_to "マイページ", company_path(current_company.id), :class => "header-nav-slide-link" %>
  <p class="close-nav">閉じる</p>
  </div>
</div>
<% end %>

<div class="container">
  <div class="row">
    <% @posts.each do |t| %>
    <div class="col-sm-4">
      <div class="card_item">
        <div class="card__content">

            <div class="card__name">
              <%= link_to user_path(id: t.user_id) do %>
              <%= image_tag t.user.image.to_s, :class => "card-user-image" %>
              <% end %>
              <%= link_to t.user.name, user_path(id: t.user_id) %>
            </div>
            <div class="card__image">
              <%= image_tag t.image.to_s,class: "card-image" %>
            </div>
            <div class="card__title">
              <%= t.title %>
            </div>
            <p class="card__text"><%= sanitize t.detail.truncate(20), tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %></p>
            <button class="btn btn--block card__btn"><%= link_to "もっとみる", post_path(t.id) %></button>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#header-nav-slide").css("display","none");
    $('.header-image').click(function(){
      $("#header-nav-slide").css("display","block");
    });
    $(".close-nav").click(function(){
     $("#header-nav-slide").slideUp(250);
   });
  });
</script>
