<header class="c-top-bar" onclick="displaynone()">
  <div class="header-container">
      <%= link_to "kokuchii", posts_path, :class => "header-container-header-logo" %>
      <div class="header-container-nav">
       <% if user_signed_in? %>
       <a href="<%=new_post_path%>" class="btn-right-radius">コクチする</a>
       <% else %>
       <% end %>
      <div class="header-container-search">
        <div id="form4">
        <%= form_tag(controller:"posts",action:"index") do %>
        <label class="search" for="inpt_search">
         <%= text_field_tag :search, "", placeholder: "フリーワードを入力" %>
         <button id="sbtn4" id="s" type="submit"></button>
        <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <div class="header-user-conversation">
        <%= link_to rooms_index_path(current_user) do %>
        <i class="far fa-comment-dots fa-lg"></i>
        <% end %>
      </div>
      <div class="header-user-image">
       <%= image_tag @user.image.to_s, :class => "header-image" %>
      </div>
      <% elsif company_signed_in? %>
      <div class="header-user-conversation">
        <%= link_to rooms_index_path(current_company) do %>
        <i class="far fa-comment-dots fa-lg"></i>
        <% end %>
      </div>
      <div class="header-user-image">
      <p class="header-image"> <i class="fa fa-user-o" aria-hidden="true" style="margin-left: 0;"></i></p>
      </div>
      <% else %>
      <% end %>
     </div>
  </div>
</header>



<% if user_signed_in? %>
<div id="header-nav-slide">
  <div class="header-nav-slide-item">
  <%= link_to "ログアウト", destroy_user_session_path,method: :delete, :class => "header-nav-slide-link" %>
  <%= link_to "マイページ", user_path(current_user.id), :class => "header-nav-slide-link" %>
  <p class="close-nav">閉じる</p>
  </div>
</div>
<% elsif company_signed_in? %>
<div id="header-nav-slide">
  <div class="header-nav-slide-item">
  <%= link_to "ログアウト", destroy_company_session_path,method: :delete, :class => "header-nav-slide-link" %>
  <%= link_to "マイページ", company_path(current_company.id), :class => "header-nav-slide-link" %>
  <p class="close-nav">閉じる</p>
  </div>
</div>
<% else %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="post-show">
      <p><%= image_tag @post.image, class: "show_card_image",width:600, height: 320 %></p>
      <p style="font-size: 32px;margin-bottom: 0px;"><%= @post.title%></p>



      <div class="show-user-info">
        <%= image_tag @post.user.image.to_s, :class => "show-user-image" %>
        <p class="show-user-name"><%= link_to @post.user.name, user_path(id: @post.user_id) %></p>

        <% if user_signed_in? %>
        <% if current_user.already_liked?(@post) %>
         <%= link_to post_like_path(@post), method: :delete do %>
         <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
        <% else %>
        <%= link_to post_likes_path(@post), method: :PostsController do %>
        <span class="fa fa-heart like-btn"></span>
        <% end %>
        <% end %>
        <% else %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
        <p class="like-count"><%= @post.likes.count %></p>

      </div>

      <p style="font-size: 18px;margin: 36px 0px;"><%= sanitize @post.detail, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %></p>

      <p><%= @post.created_at %></p>
      <% if user_signed_in? && current_user.id == @post.user.id %>
      <%= link_to "削除する", post_path(@post.id), method: :delete %>
      <% end %>
      </div>

      <div id="sns-area">
      </div>

      <h2>コメント一覧</h2>
      <% @post.comments.each do |c| %>
        <div>
          <%= image_tag c.user.image.to_s, :class => "header-image" %>
          <a href="/users/<%= @post.user.id %>"><%= c.user.name %></a>
          <%= c.content %>
          <hr>
        </div>
      <% end %>

      <%= form_for [@post, @comment] do |f| %>
        <%= f.text_field :content, class:"form-control" %>
        <br>
        <%= f.submit 'コメントする', class: "btn btn-primary" %>
      <% end %>

    </div>
    <div class="col-md-2">

      </div>
  </div>
  <script type="text/javascript">
    var shareUrl = location.href; // 現在のページURLを使用する場合 location.href;
    var shareText = '<%=@post.title%>'; // 現在のページタイトルを使用する場合 document.title;
  </script>
  <%= javascript_include_tag 'posts', 'data-turbolinks-track': 'reload' %>

</div>

<script type="text/javascript">
  $(function(){
    $("#header-nav-slide").css("display","none");
    $('.header-image').click(function(){
      $("#header-nav-slide").css("display","block");
    });
    $(".close-nav").click(function(){
     $("#header-nav-slide").slideUp(250);
   });
  });
</script>
